$primary: #002366;
$secondary: #16006A;
$third: #005E57;
$fourth: #996400;
.worthyd {
    $brandColor: $primary;
    $accentColor: $third;
    /*********************************************
 * GLOBAL STYLES
 *********************************************/
    body {
        background: #fff;
        font-family: arial;
    }
     ::selection {
        color: white;
        background: $brandColor;
    }
    .reveal {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 36px;
        color: #000e36;
    }
    /*********************************************
 * HEADERS
 *********************************************/
    h1 {
        color: $primary;
    }
    h2 {
        color: $accentColor;
    }
    h3 {
        color: $fourth;
    }
    h5 {
        color: $accentColor;
    }
    .highlight {
        color: $primary;
    }
    li,
    p,
    div {
        &>code {
            color: $primary;
        }
    }
    a:not(.image) {
        color: $primary;
        text-decoration: none;
        &:hover {
            color: $primary;
        }
    }
    .roll span:after {
        color: #fff;
        background: $primary;
        ;
    }
    strong {
        color: $accentColor;
    }
    .controls {
        .navigate- {
            &left,
            &left.enabled {
                border-right-color: $primary;
            }
            &right,
            &right.enabled {
                border-left-color: $primary;
            }
            &-up,
            &up.enabled {
                border-bottom-color: $primary;
            }
            &down,
            &down.enabled {
                border-top-color: $primary;
            }
            &left.enabled:hover {
                border-right-color: $primary;
            }
            &right.enabled:hover {
                border-left-color: $primary;
            }
            &up.enabled:hover {
                border-bottom-color: $primary;
            }
            &down.enabled:hover {
                border-top-color: $primary;
            }
        }
    }
    .progress {
        height: 10px;
        background: rgba(0, 0, 0, 0.2);
    }
    .progress span {
        background: $primary;
    }
}