.book-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  > .book-item {
    width: 50%;
  }
  .book-item__thumb {
    max-width: 100px;
    max-height: 100px;
  }
}
.book-items {
  display: flex;
  //flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;

  > .book-item {
    width: 50%;
    padding-bottom:25px;
    max-width: 500px;
  }

  .book-item__thumb {
    max-width: 200px;
    max-height: 200px;
  }
}
