<section>
    <h1>Why is stress different for developers</h1>
    <ul class="focus-fragment">
        <li class="fragment">Our job is hard</li>
        <li class="fragment">Almost 100% mental</li>
        <li class="fragment">Rarely something we can control or directly influence</li>
        <li class="fragment">Our work is frequently at the end of the pipeline</li>
    </ul>
</section>
<section>
    <h1>Iterate to Find What Works</h1>
    <ul class="focus-fragment">
        <li class="fragment">Find what works best for you.</li>
        <li class="fragment">Change things up to find what works best for you</li>
    </ul>
</section>
<section>
    <h1>Rule #1</h1>
    <h2 class="center-text">Family First</h2>
    <h2 class="center-text">No Exceptions</h2>
    <aside class="notes">
        <pre>
            Family will not dump you as quickly as a company.
        </pre>
    </aside>
</section>
