<section class="about-me-slide">
    <h1>About Me</h1>
    <!-- Floating image of family -->
    <div class="info">
        <img src="../images/me.jpg" alt="" class="about-me-image">
        <ul>
            <li class="fragment"><strong>Name:</strong> Daniel Worthy</li>
            <li class="fragment"><strong>Married:</strong> Amanda</li>
            <li class="fragment"><strong>Kids:</strong> 2
                <ul>

                    <li>Lily - 5</li>
                    <li>Hunter - 1.5</li>
                </ul>
            </li>
            <li class="fragment"><strong>Occupation 1:</strong> Rockfish Digital, Enterprise Architect</li>
            <li class="fragment"><strong>Occupation 2:</strong> U of A ITR, FE Instructor</li>
            <li class="fragment socials"><strong>The Socials:</strong>
                <a href="http://facebook.com/worthyd" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/worthyd" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/danieljworthy/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/worthyd" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/worthyd" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="http://steamcommunity.com/id/WorthyD/" target="_blank"><i class="fa fa-steam" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>

</section>
<section>
    <h1>I like to build stuff with:</h1>
    <!--Angular, .net MVC - VS & VSCode w/Vim-->
    <div class="two-col">
        <div class=" fragment center-text">
            <h5>Code</h5>
            <iframe src="https://giphy.com/embed/13HgwGsXF0aiGY" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div class="fragment center-text">
            <h5>Wood</h5>
            <iframe src="https://giphy.com/embed/3otPoPecTPTLmyGcak" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
    <div class=" fragment center-text">
        <h5>LEGO</h5>
        <iframe src="https://giphy.com/embed/N9PLnOHoFAheE" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>

</section>