.book-item {
  display: flex;
  img {
    max-width: 200px;
    margin-right: 2rem;
  }
  &__author-info {
    text-align: left;
  }
  &__book-links {
    text-align: right;
  }
}

.book-item__info {
  display: flex;
  flex-direction: column;
}
